body {
    background-color:rgb(122, 122, 122);
    -ms-overflow-style: none;
    scrollbar-width: none;  
}
#navBar {
    background-color:rgb(138, 138, 138);
    transition: all 0.7s;
}
.button {
    color: black;
    transition: 0.7s;
}
.title {
    font-size: 30px;
    font-weight:bold;
}
.button:hover {
    color:rgba(255,217,102, 1);
}
.button:visited{
    color: black;
}
